@section Scripts {
    <script>
        var i = 5;

        // 获取登录事件，并处理自动跳转
        window.onload = function JumpPage() {
            document.getElementById("time").innerText = i;

            // 计时为0后，立即跳转
            i--;
            if (i < 0) {
                location.replace(@Html.Action("Index", "Home"));
            }

            setTimeout("JumpPage()", 1000);
        }
    </script>
}

@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>亲爱的 @ViewBag.userName，恭喜！为了激活您的账户，我们已经发送了一封带有激活链接的邮件到您的注册邮箱，点击既可激活使用您的账户啦~</h2>
<br>
本页将在<span id="time" style="color: #FF0000"></span>秒后自动跳转至 @Html.ActionLink("首页", "Index", "Home")

