<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Log4NetRemoteAppenderServer.RemoteDataSinkImpl">
        <endpoint address="net.tcp://127.0.0.1:8085/RemoteDataSink"
                  binding="netTcpBinding"
                  contract="Log4NetWCFAppender.Contract.IRemoteDataSink"></endpoint>
      </service>
      <service name="Log4NetRemoteAppenderServer.MemoryOptimizedRemoteDataSinkImpl">
        <endpoint address="net.tcp://127.0.0.1:8085/RemoteDataSink"
                  binding="netTcpBinding"
                  contract="Log4NetMemoryOptimizedAppender.Contract.IRemoteDataSink">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>